<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <!-- The label should be the same as the filename without the extension -->
    <string>lottolist</string>
    <!-- Specify how to run your program here -->
    <key>ProgramArguments</key>
    <array>
        <string>Users/johncook/Documents/lotto</string>
    </array>
    <!-- Run every 2 days -->
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
    <integer>21</integer>
    <key>Minute</key>
    <integer>0</integer>
    <key>Weekday</key>
    <integer>135</integer>
    </dict>
</dict>
</plist>